body .mui-bar {
    background-color: #006699;
}

body .mui-content {
    background-color: #fff;
}

.mui-bar-nav .mui-icon-search {
    float: right;
}

.my-header h1,
.my-header .mui-icon-search {
    color: #fff;
}

.my-footer .mui-tab-item {
    color: #fff;
}

.my-footer .mui-tab-item.mui-active {
    color: darkorange;
}

.nav-links {
    list-style: none;
    margin: 10px;
    padding: 0;
}

.nav-links li {
    float: left;
    width: 33.33%;
}

.nav-links a img {
    width: 100%;
}

.mui-content .brand {
    margin: 0 10px;
}

.mui-content .brand img {
    width: 100%;
}

.mui-content .brand a {
    float: left;
    width: 25%;
}

.mui-content .brand a img {
    width: 100%;
    vertical-align: middle;
}

.mui-content .product {
    margin: 10px;
}

.mui-content .product img {
    width: 100%;
}

.mui-content .product ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.mui-content .product ul li {
    float: left;
    width: 50%;
    padding: 5px;
}

.mui-content .product ul li a {
    display: block;
    padding: 5px;
    box-shadow: 0 0 5px #ccc;
    /* overflow: hidden; */
}

.mui-content .product ul li a img {
    width: 100%;
}

.mui-content .product ul li a p {
    text-align: center;
}

.mui-content .product ul li a span {
    display: block;
    float: left;
    font-size: 14px;
    color: #8f8f94;
    text-align: center;
    padding-left: 10px;
}

.mui-content .product ul li a span:nth-of-type(1) {
    color: red;
}

.mui-content .product ul li a button {
    display: block;
    margin: 10px auto;
    background-color: #006699;
    color: #fff;
}