.container {
    padding: 10px;
}

.container .search {
    position: relative;
}

.container .search input:first-child {
    height: 30px;
    line-height: 30px;
    border: normal;
    border-radius: 0;
    font-size: 14px;
    border-color: #006699;
}

.container .search input:last-child {
    height: 30px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: #006699;
    border: 0;
    border-radius: 0;
    color: #fff;
}

.container .history {
    color: #8f8f94;
    font-size: 14px;
}

.container .history .mui-icon-trash {
    font-size: 14px;
    line-height: normal;
}